.container {
    max-width: 500px;
    margin: 30px auto;
    overflow: auto;
    min-height: 200px;
    border: 2px solid lightskyblue;
    padding: 30px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}